<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed Compiler</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="row">
        <!-- Sidebar -->
        <div id="sidebar" class="col">
            <h1 id="problem-title" class="h2"></h1>
            <div class="container mt-3" id="left-panel">
                <div><div id="problemdescription"></div>
<br>Example: 
                </div>
                <div class="example-i-o">
                    <b>Input:</b><br><p id="example-input"></p><br><br>
                    <b>Output:</b><br><p id="example-output"></p>
                </div>
        </div>
    </div>

        <!-- Content -->
        <div class="col">
            <!-- Your content goes here -->
            
            <button class="ml-auto" id="run" onclick="runCode()">Run</button>
            <button class="ml-auto" id="submit" onclick="getProblem()">Submit</button>
            <div class="container-fluid">
                    <div id="leftPane">
                        <div id="editor" style="height: 250px; width: 700px;"></div>
                    </div>
                    <div id="problem_info" >
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#output">Output</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#testcases">Test Cases</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#hints">Hints</a>
                                </li>
                            </ul>
                        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="output" class="container tab-pane active"><br>
                                    <pre id="output"></pre>
                                </div>
                                <div id="testcases" class="container tab-pane fade"><br>
                                    <div>
                                        <b>Your Output:</b>
                                        <div id="student-output"></div>
                                    </div>
                                    <div>
                                        <b>Correct Output:</b>
                                        <div id="correct-output"></div>
                                    </div>
                                </div>
                                <div id="hints" class="container tab-pane fade"><br>
                                    <h5 id="hintType">Generate a hint to help you move forward: We provide three types of hints for each attempt.</h5>
                                    <div id="loadingSpinner" class="spinner" style="display:none;"></div>
                                    <div id="hintOutput">
                                        <div id="worked_example_editor" style="height: 200px; width: 700px;" class=" ace_editor ace_hidpi ace-tm"></div>
                                    </div>

                                    <div class="row">
                                        <button class="col hint-button" id="prev-hint" onclick="getPrevHint()" disabled>Previous</button>
                                        <button class="col hint-button" id="ask-hint" onclick="generateHint()">New Hint</button>
                                        <button class="col hint-button" id="next-hint" onclick="getNextHint()" disabled>Next</button>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.11/split.min.js"></script>

<script src="static/js/script.js"></script>



</body>
</html>
